<launch>
    <group ns="hardware">
	<node name="mobile_base" pkg="mobile_base" type="hexa_base_node" output="screen">
	  <!--param name="simul" value="$(arg simul)"/-->
	  <param name="port1" value="/dev/justinaRC30"/>
	  <param name="port2" value="/dev/justinaRC15"/>
	</node>
	<node name="joy" pkg="joy" type="joy_node" output="screen"/>
    </group>

    <group ns="interoperation">
	<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_logitech.py" output="screen"/>
    </group>
</launch>



